.videoBlock{
    width: 100%;
    height: fit-content;
    background: #101010;
    padding-top: 100px;
    padding-bottom: 100px;
}

.videoWithBorder{
    position: relative;
    width: 100%;
    height: fit-content;
}

.one{
    position: absolute;
    width: 5px;
    height: 100%;
    background: #0da7af;
    border-radius: 10px;
}

.two{
    position: absolute;
    right: 2%;
    top: -5%;
    height: 5px;
    width: 96%;
    background: #0da7af;
    border-radius: 10px;
}

.three{
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background: #0da7af;
    border-radius: 10px;
}

.four{
    position: absolute;
    right: 2%;
    bottom: -5%;
    height: 5px;
    width: 96%;
    background: #0da7af;
    border-radius: 10px;
}

.video{
    width: 96%;
    height: 500px;
    margin: 0 auto;
    overflow:hidden;
}

@media screen and (max-width: 900px) {
    .video{
        height: 400px;
    }
}

@media screen and (max-width: 700px) {
    .video{
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .video{
        height: 200px;
    }
}