.footer{
    width: 100%;
    height: fit-content;
    background: #101010;
    color: white;
    padding-top: 120px;
}

.textForm{
    margin-bottom: 90px;
}

.text{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.grey{
    color: #242424;
}

.link{
    margin: 0 auto;
    width: 430px;
    height: 90px;
    border: 2px solid #00F0FD;
    border-radius: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    line-height: 90px;
    box-shadow: 0 0 4px #39f3fd;
}

.link_two{
    width: 130px;
    margin: 0 auto;
    margin-top: 100px;
}

.link_two_text{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.one_link{    
    width: 130px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #00F0FD;
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 0 4px #39f3fd;
}

.intro{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.icons{
    position: relative;
    left: calc(50% - 150px);
    margin-top: 40px;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.tg{
    position: absolute;
    left: 0;
    cursor: pointer;
}

.youtube{
    position: absolute;
    left: calc(50% - 20px);
    cursor: pointer;
}

.inst{
    position: absolute;
    right: 0;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .footer{
        padding-top: 60px;
    }

    .text{
        font-size: 20px;
    }

    .link{
        width: 330px;
        height: 90px;
        font-size: 30px;
    }

    .one_link{    
        font-size: 16px;
    }
    
    .intro{
        font-size: 30px;
    }
}

@media screen and (max-width: 380px) {
    .link{
        width: 230px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
    }
}